<html>
    <head>
      <title>Welcome to Microsoft Build 2019!</title>
      <style>
	body {
	  font-size: 20px;
	  margin: 0;
          background-image: url("https://static.djangoproject.com/img/desktops/djangodesktop-1152x864.jpg");
	}

	h1, p {
	  text-align: center;
	  color = white;
	}
      </style>
    </head>
    
    <body>
      <h1><b>Welcome to Microsoft Build 2019, Seattle WA</b></h1>
      <p>This website is powered by django running on Linux App Service Python 3.7 Runtime</p>
    </body>
</html>
